@media (max-width: 768px) {
  .header-box {
    display: none;
  }

  .nav-box {
    position: fixed;
    right: 5%;
    top: 5%;
    z-index: 10000;
  }

  .nav_toggle {
    position: absolute;
    right: 5%;
    top: 5%;
    display: block;
    width: 2.25rem;
    height: 1.75rem;
    z-index: 11000;
    margin-right: 20px;
    z-index: 1000;
  }

  .nav_toggle i {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  .nav_toggle i:nth-child(1) {
    top: 0;
  }

  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10.8px) rotate(-45deg);
  }

  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }

  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-14px) rotate(45deg);
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    opacity: 0;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .nav a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }

  .nav_menu_ul {
    width: 100%;
    list-style: none;
  }

  .nav li {
    padding: 20px 0;
  }

  .nav li:hover {
    opacity: 1;
    transition: 0.5s;
  }

  .nav.show {
    width: 100%;
    display: inline-block;
    z-index: 900;
    background-color: white;
    opacity: 1;
  }

  .header-ttl h1 {
    padding-left: 14px;
  }

  .info {
    margin-top: 50px;
  }
  .info-inner {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
    padding-left: 14px;
  }
  .info-notice {
    width: 100%;
  }
  .info-notice-ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-notice-ttl h2 {
    margin-right: 0;
  }
  .info-twitter {
    margin-top: 100px;
    width: 100%;
    text-align: center;
  }
  .info-twitter-ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-twitter-ttl h2 {
    margin-right: 0;
  }

  .perfo-inner {
    display: flex;
    flex-direction: column;
  }
  .perfo-perfo {
    margin-bottom: 50px;
  }
  .perfo-perfo img {
    width: 100%;
  }
  .perfo-rec img {
    width: 100%;
  }

  .pro {
    padding-right: 14px;
    padding-left: 14px;
  }
  .pro-inner {
    display: flex;
    flex-direction: column;
  }
  .pro-ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pro-ttl h2 {
    margin-right: 0;
  }
  .pro-box {
    margin-bottom: 40px;
  }

  .content {
    padding-right: 14px;
    padding-left: 14px;
  }
  .content-inner {
    display: flex;
    flex-wrap: wrap;
  }
  .content-ttl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-ttl h2 {
    margin-right: 0;
  }
  .content-box {
    margin-bottom: 10px;
  }
  .content-box img {
    width: 100%;
  }

  .footer-ttl {
    padding-left: 14px;
  }
  .footer-inner {
    display: flex;
    flex-direction: column;
  }
  .footer-box {
    padding-bottom: 20px;
    padding-left: 14px;
  }
  .footer-list {
    display: none;
  }
  .footer-policy {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
  }

  .small {
    text-align: center;
  }
}

/*# sourceMappingURL=style-sp.css.map */
